---
export const prerender = true;
import BaseLayout from "../layouts/BaseLayout.astro";
import Cmd from "../components/Cmd.astro";
import type { ProjectProps } from "../consts";
import Project from "../components/Project.astro";
import IconEmail from "../components/icons/IconEmail.astro";
import IconGitHub from "../components/icons/IconGitHub.astro";
import IconLinkedIn from "../components/icons/IconLinkedIn.astro";
import IconDocument from "../components/icons/IconDocument.astro";

import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const featuredProject: ProjectProps = {
  name: "chessu",
  description:
    "An online multiplayer chess site for real-time games with spectator support and optional user authentication.",
  stack: "React/Next.js, Tailwind CSS, Express.js, socket.io, PostgreSQL",
  repo: "https://github.com/nizewn/chessu",
  demo: "https://ches.su"
};

const latestPost = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];
---

<BaseLayout image="/images/cover.jpg">
  <div class="flex w-full flex-col gap-32">
    <div class="mt-4 flex w-full flex-col items-center gap-4">
      <div
        class="flex w-full flex-col items-center justify-center gap-4 text-gruvbox-fg dark:text-gruvboxDark-fg sm:flex-row"
      >
        <img
          src="./images/nize.png"
          alt="nize's avatar"
          width={100}
          height={100}
          class="rounded-md border border-gruvbox-fg bg-gruvbox-bg dark:border-none"
        />
        <div class="flex flex-col flex-wrap">
          <h1 class="text-center font-bebas text-5xl leading-[2.5rem]">Nathaniel Tampus</h1>
          <h2 class="text-center font-azeret text-lg leading-5 sm:text-start">// nize</h2>
        </div>
      </div>
      <p class="my-4 flex w-full max-w-prose indent-8 font-sans font-medium sm:my-1">
        I'm a developer currently studying at Cebu Institute of Technology University for my
        Bachelor's degree in Information Technology.
      </p>
      <div
        class="flex w-full max-w-prose flex-col items-center justify-evenly gap-3 font-roboto sm:flex-row"
      >
        <a
          href="mailto:contact@nize.ph"
          title="contact@nize.ph"
          class="flex items-center gap-1 hover:underline"
        >
          <IconEmail class="h-5 w-5 text-gruvbox-yellow" /> Email
        </a>
        <a
          href="https://github.com/nizewn"
          title="nizewn"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-1 hover:underline"
        >
          <IconGitHub class="h-5 w-5 text-gruvbox-fg0 dark:text-gruvboxDark-fg0" /> GitHub
        </a>
        <a
          href="https://linkedin.com/in/nize"
          title="nize"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-1 hover:underline"
        >
          <IconLinkedIn class="h-5 w-5 text-gruvbox-blue" /> LinkedIn
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <Cmd text="stuff --featured" />

      <div class="flex w-full flex-wrap justify-center gap-2">
        <Project
          name={featuredProject.name}
          description={featuredProject.description}
          stack={featuredProject.stack}
          repo={featuredProject.repo}
          demo={featuredProject.demo}
        />
        <div
          class="box-shadow-black flex w-full max-w-[35ch] flex-col gap-2 rounded-sm border border-gruvbox-fg bg-gruvbox-bg p-3 transition-all dark:rounded-lg dark:border-none dark:bg-gruvboxDark-bg dark:shadow-md dark:hover:scale-[1.02]"
        >
          {/* latest blog post */}
          <a
            href={`/blog/${latestPost.slug.split("/").pop()}/`}
            class="text-2xl font-bold text-gruvbox-fg dark:text-gruvboxDark-fg"
          >
            {latestPost.data.title}
          </a>
          <div class="mb-2 text-sm text-gruvbox-fg3 dark:text-gruvboxDark-fg4">
            <div class="inline-flex items-center">
              <IconDocument class="h-3 w-3" />
            </div>
            Latest post - <FormattedDate date={latestPost.data.pubDate} />
          </div>
          <p class="indent-8">{latestPost.data.description}</p>
          <a
            href={`/blog/${latestPost.slug.split("/").pop()}/`}
            title="Read blog post"
            class="text-end font-roboto text-sm font-bold text-gruvbox-fg3 transition-all hover:text-gruvbox-blue dark:text-gruvboxDark-fg4 dark:hover:text-gruvboxDark-blue"
          >
            Read post
          </a>
        </div>
      </div>
    </div>

    <div class="mb-24 flex flex-col gap-5">
      <Cmd text="getintouch" />
      <div class="flex flex-col items-center gap-3">
        <span>
          <span class="inline-flex h-3 w-3 rounded-full bg-gruvbox-aqua2"></span>
          I'm open to new opportunities and projects to collaborate on.
        </span>
        <a
          href="/contact/"
          class="box-shadow-black flex items-center gap-1 rounded border border-gruvbox-fg bg-gruvbox-aqua2 p-2 font-bold text-gruvbox-bgH transition-all dark:rounded-md dark:border-none dark:shadow-md dark:hover:bg-gruvbox-aqua"
        >
          <IconEmail class="h-5 w-5" />
          Contact me!</a
        >
      </div>
    </div>
  </div>
</BaseLayout>
