---
import IconGitHub from "./icons/IconGitHub.astro";
import IconLink from "./icons/IconLink.astro";
import IconTools from "./icons/IconTools.astro";

const { name, repo, demo, description, stack } = Astro.props;
---

<div
  class="nb-shadow flex w-full max-w-[48ch] flex-col gap-2 rounded-sm border border-gruvbox-fg bg-gruvbox-bg p-4 transition-shape dark:rounded-lg dark:border-none dark:bg-gruvboxDark-bg dark:shadow-md dark:hover:-translate-y-1"
>
  <h2 class="text-2xl font-bold text-gruvbox-fg dark:text-gruvboxDark-fg">
    {name}
  </h2>
  <div class="mb-2 text-sm text-gruvbox-fg3 dark:text-gruvboxDark-fg4">
    <div class="inline-flex items-center">
      <IconTools class="h-3 w-3" />
    </div>
    {" "}{stack}
  </div>
  <p class="indent-8">{description}</p>
  <div class="flex justify-end gap-8 text-sm text-gruvbox-fg dark:text-gruvboxDark-fg">
    {
      demo && (
        <a
          href={demo}
          class="flex items-center gap-0.5 hover:underline"
          target="_blank"
          rel="noopener noreferrer"
          title="Demo"
        >
          <IconLink class="h-4 w-4" />
          {demo.replace(/^https?:\/\//, "")}
        </a>
      )
    }
    <a
      href={repo}
      class="flex items-center gap-1 hover:underline"
      target="_blank"
      rel="noopener noreferrer"
      title="GitHub repository"
    >
      <IconGitHub class="h-4 w-4" />
      GitHub
    </a>
  </div>
</div>
